html body {
  --text-color: #000000;
  --primary-color: #acceac;
  --secondary-color: #567c56;
  --highlight-color: #9a009a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html body * {
  box-sizing: border-box;
  letter-spacing: 1.5px;
}
@media print {
  html body {
    --text-color: #000000;
    --primary-color: #000000;
    --secondary-color: #000000;
    --highlight-color: #000000;
  }
}
html body .main .entrance {
  display: grid;
  grid-template-columns: 355px auto;
}
@media screen and (max-width: 1023px) {
  html body .main .entrance {
    display: block;
  }
}
@media print {
  html body .main .entrance {
    display: block;
  }
}
html body .main .entrance .presentation {
  padding: 28px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: var(--primary-color);
  min-height: 300px;
  max-height: 720px;
  color: var(--text-color);
  position: sticky;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1023px) {
  html body .main .entrance .presentation {
    position: initial;
  }
}
@media print {
  html body .main .entrance .presentation {
    position: initial;
  }
}
html body .main .entrance .presentation__head h1 {
  font-size: 60px;
  margin-bottom: 28px;
}
html body .main .entrance .presentation__head figure {
  margin: 0;
  margin-bottom: 28px;
}
html body .main .entrance .presentation__head figure img {
  display: block;
  border-radius: 100%;
  border-bottom: 28px;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 200px;
  height: 200px;
}
html body .main .entrance .presentation__body h5 {
  font-size: 24px;
  border-bottom: solid 1px var(--text-color);
  padding-bottom: 28px;
  margin-bottom: 28px;
}
html body .main .entrance .presentation__body p {
  text-align: left;
  border-bottom: solid 1px var(--text-color);
  padding-bottom: 14px;
  margin-bottom: 28px;
}
html body .main .entrance .presentation__body ul {
  list-style: none;
  text-align: left;
}
html body .main .entrance .presentation__body ul li {
  display: flex;
}
html body .main .entrance .presentation__body ul li img {
  height: 20px;
  width: 20px;
  margin-right: 7px;
}
html body .main .entrance .presentation__body ul li a {
  text-decoration: none;
  color: #000000;
}
@media print {
  html body .main .entrance .presentation__body ul .no-print {
    display: none;
  }
}
html body .main .entrance .first-sight {
  padding: 28px;
  padding-bottom: 2px;
}
html body .main .entrance .first-sight .not-online {
  display: none;
}
@media print {
  html body .main .entrance .first-sight .not-online {
    display: initial;
  }
}
html body .main .entrance .first-sight h2 {
  color: var(--secondary-color);
}
html body .main .entrance .first-sight .about ul {
  display: flex;
  align-items: center;
  list-style: none;
}
html body .main .entrance .first-sight .about ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 14px;
  margin-bottom: 14px;
}
html body .main .entrance .first-sight .about ul li img {
  height: 26px;
  width: 26px;
  margin-right: 7px;
}
html body .main .entrance .first-sight .about ul li a {
  color: var(--secondary-color);
}
@media screen and (max-width: 900px) {
  html body .main .entrance .first-sight .about ul {
    display: block;
  }
}
@media print {
  html body .main .entrance .first-sight .about ul {
    display: block;
  }
  html body .main .entrance .first-sight .about ul li {
    display: none;
  }
}
html body .main .entrance .first-sight .timeline ul {
  padding: 14px;
  line-height: 1.2;
  list-style: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 900px) {
  html body .main .entrance .first-sight .timeline ul {
    padding: 0;
  }
}
@media print {
  html body .main .entrance .first-sight .timeline ul {
    padding: 0;
  }
}
html body .main .entrance .first-sight .timeline ul .xp {
  display: grid;
  grid-template-columns: 84px auto;
  grid-gap: 7px;
  padding: 0;
  margin: 0;
}
html body .main .entrance .first-sight .timeline ul .xp__left {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}
html body .main .entrance .first-sight .timeline ul .xp__right {
  padding: 20px;
  position: relative;
  border-left: solid 2px var(--secondary-color);
}
html body .main .entrance .first-sight .timeline ul .xp__right::before {
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  left: -9px;
  top: 40px;
  transform: translateY(-50%);
  background-color: var(--secondary-color);
  border-radius: 100%;
}
html body .main .entrance .first-sight .timeline ul .xp__right:last-child {
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  html body .main .entrance .first-sight .timeline ul .xp__right p.descr {
    width: 80vw;
    background: white;
    padding: 14px;
    position: relative;
    margin-left: -126px;
  }
}
@media print {
  html body .main .entrance .first-sight .timeline ul .xp__right p.descr {
    width: 80vw;
    background: white;
    padding: 14px;
    position: relative;
    margin-left: -126px;
  }
}
html body .main .entrance .first-sight .timeline ul .xp h5, html body .main .entrance .first-sight .timeline ul .xp p {
  margin: 0;
  padding: 0;
}
@media print {
  html body .main .entrance .first-sight {
    margin-top: -40px;
  }
}
html body .main .skills {
  margin: 42px 0;
  padding: 28px;
  border-top: dashed 1px #222222;
  border-bottom: dashed 1px #222222;
}
html body .main .skills h2 {
  color: var(--secondary-color);
}
html body .main .skills__table {
  display: grid;
  font-weight: 500;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 900px) {
  html body .main .skills__table {
    display: block;
  }
}
html body .main .skills__table ul li.mark {
  color: var(--highlight-color);
}
@media screen and (max-width: 900px) {
  html body .main .skills {
    margin-top: 0;
  }
}
html body .main .portfolio {
  margin-bottom: 28px;
}
html body .main .portfolio h2 {
  color: var(--secondary-color);
}
html body .main .portfolio .swiper-container {
  height: 600px;
  width: 100%;
}
@media screen and (max-width: 900px) {
  html body .main .portfolio .swiper-container {
    height: 400px;
  }
}
html body .main .portfolio .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(img/detudoumpouco.png);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  html body .main .portfolio .swiper-container .swiper-wrapper .swiper-slide {
    background-size: contain;
    background-position: top;
  }
}
html body .main .portfolio .swiper-container .swiper-wrapper .portfolio-item-description {
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 0;
  width: 380px;
  height: 100%;
  text-align: left;
  padding: 28px;
  background-color: var(--primary-color);
}
@media screen and (max-width: 900px) {
  html body .main .portfolio .swiper-container .swiper-wrapper .portfolio-item-description {
    top: unset;
    bottom: 0;
    display: block;
    width: 100%;
    height: auto;
    padding: 14px;
  }
  html body .main .portfolio .swiper-container .swiper-wrapper .portfolio-item-description p {
    display: none;
  }
}
html body .main .portfolio .swiper-container .swiper-wrapper .portfolio-item-description a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
}
html body .main .portfolio .swiper-container .swiper-pagination-bullet {
  margin: 28px 0;
}
html body .main .portfolio .swiper-container .swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
  transform: scale(1.25);
}
@media print {
  html body .main .portfolio {
    display: none;
  }
}
html body .main .creations {
  margin-bottom: 28px;
}
html body .main .creations h2 {
  color: var(--secondary-color);
}
html body .main .creations__content {
  padding: 14px;
  background-color: var(--primary-color);
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
html body .main .creations__content .cc-item {
  width: 100%;
  height: 100%;
  padding: 28px;
}
html body .main .creations__content .cc-item a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
}
@media print {
  html body .main .creations__content .cc-item a {
    display: none;
  }
}
html body .main .creations__content .cc-item:not(:last-child) {
  border-right: dashed 1px #222222;
}
@media screen and (max-width: 900px) {
  html body .main .creations__content {
    display: block;
  }
  html body .main .creations__content .cc-item:not(:last-child) {
    border-right: none;
    border-bottom: dashed 1px #222222;
  }
}
@media print {
  html body .main .creations__content {
    display: block;
  }
  html body .main .creations__content .cc-item:not(:last-child) {
    border-right: none;
    border-bottom: dashed 1px #222222;
  }
}
html body .main .hobbies h2 {
  color: var(--secondary-color);
}
html body .main .hobbies__content {
  padding: 14px;
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 900px) {
  html body .main .hobbies__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
  }
}
html body .main .hobbies__content .hb-item {
  width: 100%;
  height: 100%;
  padding: 14px;
  text-align: center;
}
html body .main .hobbies__content .hb-item img {
  height: 60px;
  opacity: 0.7;
  margin-bottom: 14px;
}
@media print {
  html body .main .hobbies {
    display: none;
  }
}
html body footer {
  width: 100%;
  display: flex;
  min-height: 300px;
  background-color: #222222;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}
html body footer .footer__content {
  color: #fafafa;
  text-align: center;
  font-size: 11px;
}
html body footer .footer__content p {
  margin: 0;
}
@media print {
  html body footer {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
